html
  head
    title Example Pug
    block styles
      link(rel="stylesheet" href='css/style.css')
    block header
      #header
        p On met là le header
  body
    block content
    block footer
      #footer
        p On met là le footer

    block scripts
      script(src="js/jquery.min.js")